@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
}

/* CABEÇALHO */

#cabecalho {
    background-color: #fff;
    display: flex;
    height: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}
#cabecalho nav ul {
    list-style:  none;
    display: flex;
    min-width: 100%;
    gap:20px;
    flex-wrap: wrap;
}
#logo-vp {
    width: 60px;
}
.link a {
    display: block;
    color: #fff;
    background-color: #0a0a3b;
    padding: 15px;
    border-radius: 5px;
    font-size: 2rem;
    transition: background-color .2s ease-in-out;

    &:hover{
        background-color:#002e87;
    }
}

/* ANIMAÇÕES */

@keyframes aparecer-esquerda {
    from {
        opacity: 0;
        translate: -100vw 0;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}
@keyframes aparecer-direita {
    from {
        opacity: 0;
        translate: 200vw 0;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}
@keyframes aparecer-embaixo {
    from {
        opacity: 0;
        translate: 0 200vh;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}
@keyframes aparecer-simples {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* PRIMEIRA SEÇÃO */

#banner-vp {
    width: 100%;
    display: block;
}
.section1 {
    background-image: linear-gradient(to bottom, #0049d7, #517fdc);
    height: auto;
    padding-top: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
}
.section1 h1 {
    text-align: center;
    font-size: 4.8rem;
    font-weight: 400;
    margin-bottom: 100px;
}
.box-texto-imagem {
    display: flex;
    gap: 50px;
    width: 80%;
    align-items: center;
}
.box-texto-imagem img {
    width: 40%;
    height: 20%;
}
.box-texto-imagem div {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 300;
}
.box-texto-imagem div p strong {
    font-weight: 600;
}
.box1 {
    animation: aparecer-esquerda 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}
.box2 {
    animation: aparecer-direita 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

/* SEÇÃO AJUDE E GANHE */

#ajude-e-ganhe {
    background-image: linear-gradient(to bottom, #517fdc, #2762da);
    padding: 30px;
    padding-bottom: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ajude-e-ganhe h2 {
    color: #000;
    text-align: center;
    font-size: 4.8rem;
    font-weight: 500;
    margin-bottom: 100px;
}
#txt-empresas {
    font-weight: 300 !important;
    margin-top: 5vh;
}
#ajude-e-ganhe div {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-size: 2.8rem;
    font-weight: 300;
}
#ajude-e-ganhe div img {
    width: 350px;
}
#ajude-e-ganhe div p {
    animation: aparecer-embaixo 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 20%;
}
#tartaruga-esq {
    animation: aparecer-esquerda 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}
#tartaruga-dir {
    animation: aparecer-direita 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 37%;
}
#botao{
    background-color: #002e87;
    color: #fff;
    box-shadow: inset 0 0 80px #00194a;
    border: 2px solid #fff;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40vw;
    height: 10vh;
    border-radius: 10px;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 3px;
    transition: all .2s ease-in;
    
    animation: aparecer-simples 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;

    &:hover {
        background-color: #008;
        border: 3px solid #fff;
    }
}

/* SEÇÃO QUEM SOMOS */

#quem-somos {
    background-image: linear-gradient(to bottom, #2762da, #0f4dca, #002e87, #00194a, #000);
    height: auto;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#quem-somos h2 {
    color: #fff;
    text-align: center;
    font-size: 4.8rem;
    font-weight: 400;
    margin-bottom: 100px;
}
#div-participantes {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 25px;
}
.container {
    border-radius: 30px;
    border: 3px solid #fff;
    font-size: 3rem;
    width: 600px;
    height: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 60px;
    background-color: #ccc;
    color: #000;
    transition: background .2s ease-in-out, color .2s ease-in-out;
  
    &:hover {
      background-color: #002e87;
      color: #fff;
    }
}
.mat-gab {
    animation: aparecer-esquerda 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}
.caio {
    align-self: flex-end;
    animation: aparecer-direita 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}
.foto {
    border-radius: 360px;
    width: 15rem;
    height: auto;
}
.icones {
    width: 40px;
    height: auto;
    margin-top: 15px;
}
#link-repo {
    width: 600px;
    height: 110px;
    align-self: center;
    margin-top: 50px;
    margin-bottom: 80px;
}
#container-link {
    height: 110px;
    align-self: center;
    animation: aparecer-simples 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}  

/* FORMULÁRIO DE CONTATO */

#contato {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    max-width: 100vw;
    padding-bottom: 8vh;
}
#contato div {
    background-color: #000;
    width: 80vw;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, .25) 0px 14px 15px, rgba(255, 255, 255, .12) 0px -12px 30px, rgba(255, 255, 255, .12) 0px 4px 6px, rgba(255, 255, 255, .17) 0px 12px 13px, rgba(255, 255, 255, .09) 0px -3px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titulo-form {
    color: #f5f5f5;
    font-size: 2.5rem;
    margin: 2rem;
    text-align: center;
    letter-spacing: 3px;
}
#form-contato {
    display: flex;
    flex-direction: column;
    width: 60%;
}
#form-contato label {
    color: #f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
}
#form-contato input {
    background-color: #bbb;
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
    &:focus {
        border-radius: 16px;
    }
}
#form-contato textarea {
    background-color: #bbb;
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    resize: none;
    transition: all 0.5s;
    &:focus {
        border-radius: 16px;
    }
}
#form-contato button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all .6s;
    margin-bottom: 20px;
    &:hover {
        background: #f5f5f5;
        color: #101026;
        border-radius: 16px;
    }
}

/* RODAPÉ */

footer {
    background-color: #000;
    color: #fff;
    min-height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px #313131;
    font-size: 2rem;
}
#contatos-footer {
    display: flex;
    gap: 15vw;
}
#contatos-footer li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
#contatos-footer li img {
    width: 30px;
}
#lista-emails {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
}

/* MEDIA QUERY */
@media screen and (width < 1150px) {
    #ajude-e-ganhe div img {
        width: 0;
        animation: none;
    }
}

@media screen and (width < 1100px) {
    #contatos-footer {
        flex-direction: column;
        gap: 10px;
    }
    #lista-emails {
        align-items: center;
    }
}
@media screen and (width < 460px) {
    footer {
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 1120px) {
    footer {
        flex-direction: column; 
        padding-top: 20px; 
    }
    
    #contatos-footer {
        flex-wrap: wrap;
        justify-content: center; 
        row-gap: 0;
    }
    
    #lista-emails {
        align-items: start; 
    }

    #twitter {
        margin-top: 25px;
        
    }

    #instagram {
        margin-bottom: 25px;
    }
}

@media screen and (width < 1220px) { 
    .container {
        height: auto;
        width: 100%;
        font-size: 2.3rem;
        align-items: center;
    }

    #link-repo {
        width: 70%;
    }
}
@media screen and (width < 650px) {
    .container {
        gap: 10px;
    }
    .foto {
        width: 10rem;
    }
}
@media screen and (max-width: 682px) {
    
    #instagram {
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 600px) {
    #botao {
        font-size: 1.7rem;
    }
    .section1 {
        padding-bottom: 40px;
    }
    #ajude-e-ganhe {
        padding-bottom: 100px;
    }
    #ajude-e-ganhe h2 {
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 600px) {
    .box-texto-imagem div {
    display: flex;
    align-items: left;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    }
    #botao {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 444px) {
    #cabecalho {
        height: auto;
        margin-top: -1vw;
        text-align: center;
        margin: 0;
        width: 100%;
        display: block;
    
    }
    #cabecalho img{
        margin-bottom: 10px;
    }
    #cabecalho nav ul {
        justify-content: center;
     
    }
    .link {
        width: 55%;
    }
}

@media screen and (width < 460px) {
    footer {
        font-size: 1.5rem;
    }
}


