* {
    margin: 0;
      padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    background-color: #88cdff;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  
  /* CABEÇALHO */
  
  
  .cabecalho {
    min-width: 100vw;
    height: 11vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav {
    align-self: end;
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 18vw;
  }
  
  li {
    display: flex;
  
    font-size: 2.6rem;
    font-weight: 500;
  
    min-width: 10vw;
    height: 50px;
  
    align-items: center;
    justify-content: center;
  
    background-color: #bde7ff;
    transition: background-color .3s ease-in-out;
    &:hover {
      background-color: #88cdff;
    }
  }
  
  li a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 10vw;
    height: 50px;
    white-space: nowrap;
    color: #000;
  
    &:visited {
      color: #000;
    }
  }
  
  #logo {
    width: 150px;
    height: auto;
    margin-left: 1vw;
  }
  
  #img-usuario {
    width: 65px;
    height: auto;
  }
  
  #div-img-usuario {
    width: 150px;
    height: auto;
    display: flex;
    justify-content: end;
    padding-right: 1vw;
  }
  
  #pagina-atual {
    background-color: #88cdff;
  }
  
  
  /* CONTEÚDO */
  
  
  h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 4rem;
  }
  
  .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  .container {
    border-radius: 30px;
    border: 3px solid #fff;
    font-size: 3rem;
    min-width: 600px;
    height: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 60px;
    background-color: #bde7ff;
    transition: background .3s ease-in-out, color .3s ease-in-out;
  
    &:hover {
      background-color: #2d69ec;
      color: #fff;
    }
  }
  
  .foto {
    border-radius: 360px;
    width: 10vw;
    height: auto;
  }
  
  .github {
    width: 40px;
    height: auto;
    margin-top: 15px;
  }
  
  #container-link {
    height: 110px;
    color: #000;
  }
  
  #link-repo {
    font-size: 3rem;
  }
  
  /* MEDIA QUERIES */
  
  
  @media screen and (max-width:1625px) {
    
    li {
      min-width: 13vw;
    }
  
    li a {
      min-width: 13vw;
    }
  
    ul {
      gap: 12vw;
    }
  }
  
  
  @media screen and (max-width:1100px) {
  
    li {
      min-width: 14vw;
    }
  
    li a {
      min-width: 14vw;
    }
  
    ul {
      gap: 8vw;
    }
  }
  
  
  @media screen and (max-width:922px) {
    html {
      font-size: 50%;
    }
  
    li {
      min-width: 10vw;
    }
  
    li a {
      min-width: 10vw;
    }
  
    ul {
      gap: 10vw;
    }
  
    #logo, #div-img-usuario {
      width: 100px;
    }
  
    #img-usuario {
      width: 50px;
    }
  
    .foto {
      min-width: 17vw;
      min-height: 17vw;
    }
  }
  
  
  @media screen and (max-width:670px) {
    html {
      font-size: 40%;
    }
  
    .cabecalho {
      height: 8vh;
    }
    
    li {
      min-width: 8vw;
      height: 35px;
      font-size: 2rem;
    }
  
    li a {
      min-width: 8vw;
    }
  
    ul {
      gap: 6vw;
    }
  
    #logo {
      width: 70px;
      margin-left: 2vw;
    }
    
    #div-img-usuario {
      width: 70px;
    }
  
    #img-usuario {
      width: 45px;
      padding-right: 2vw;
    }
  
    h1 {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  
    #paragrafo1 {
      font-size: 3.6rem; 
    }
    .container {
      min-width: 15vw;
    }
  
    .foto {
      min-width: 20vw;
      min-height: auto;
      margin-top: 8vw;
    }
  
    .container {
      flex-direction: column;
      height: 80vw;
      min-width: 45vw;
    }
    .github {
      margin-top: auto;
    }
  }