@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Poppins", sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("../img/background-login.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box-login {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 460px;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, .2);
}
.box-login .titulo {
    color: #fff;
    font-size: 2.4rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
    letter-spacing: 3px;
}
.box-login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.box-login input {
    outline: none;
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: 48px;
    border: 2px solid rgba(255, 255, 255, .2);
    padding-left: 16px;
    font-size: 1.4rem;
    margin-bottom: 16px;
    border-radius: 10px;

    &:focus {
        border: 2px solid rgba(255, 255, 255, .4);
    }

    &::placeholder {
        color: #ccc;
    }
}
.box-login button {
    border: none;
    outline: none;
    width: 100%;
    height: 48px;
    font-size: 1.8rem;
    background-color: #00194a;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    margin-top: 15px;

    &:hover {
        background-color: #011234;
    }
}
.box-login .divisor {
    display: block;
    width: 80px;
    height: 1px;
    background-color: #fff;
    margin-top: 32px;
    margin-bottom: 32px;
    opacity: .2;
}
.box-login a {
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
.box-login p {
    color: #900;
    margin-top: 10px;
    font-size: 1.4rem;
    visibility: hidden;
}
.box-login.erro p {
    visibility: visible;
}